<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="/welcome">Angular-Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="generalMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          General
        </a>
        <div class="dropdown-menu" aria-labelledby="generalMenuLink">
          <a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="dropdown-item" routerLink="/charts" routerLinkActive="active">Charts</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="materialMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Material Design
        </a>
        <div class="dropdown-menu" aria-labelledby="materialMenuLink">
          <a class="dropdown-item" routerLink="/mat-cards" routerLinkActive="active">Cards</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="b4MenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Bootstrap 4
        </a>
        <div class="dropdown-menu" aria-labelledby="b4MenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <div *ngIf="profile.picture !== undefined" class="navbar-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="navbar-text hidden-xs-down">{{profile.name}}</span>
        <img class="profile navbar-item" src="{{profile.picture.thumbnail}}">
      </a>
      <div class="dropdown-menu" aria-labelledby="profileDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</nav>