/* Move down content because we have a fixed navbar that is 50px tall */
main {
    margin-top: 56px;
}

/*
 * Typography
 */

.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('/assets/img/examples/shiba2.jpg');
  background-size: cover;
}