/* Move down content because we have a fixed navbar that is 50px tall */
main {
    margin-top: 56px;
}

/*
 * Typography
 */

.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('/assets/images/dogs/shiba1.jpg');
  background-size: cover;
  width: 35px;
  height: 40px;
  border-radius: 15px;
}