.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 35px;
  height: 40px;
  border-radius: 15px;
}